
*{margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
border: border-box;
overflow: hidde}
.navbar{background-color: #0f1111;
height: 60px;
color: white;
display: flex;
align-items: center;
justify-content: space-evenly;}
.navlogo{height: 50px;
width: 100px;}
.logo{background-image:url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

.navsearch:hover{
    border: 2px solid orange;
}
.border{border: 2px solid transparent;}
.border:hover{border: 2px solid white;}
#add1{color: #cccccc;
font-size: 0.85rem;
margin-left: 15px;}
#add2{color: #ffffff;
font-size: 1rem;
margin-left: 3px;}
.icon{display: flex;
align-items: center;}
.navadress{align-items: center;}

.navsearch{display: flex;
width:600px;
height: 40px;
background-color: pink;
border-radius: 4px;}
#searchselect{background-color: #e6e6e6;
width: 50px;
text-align: center;
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
border: none;}
#searchinput{background-color: #ffffff;
width: 100%;
border:none;
font-size: 1rem;}
.Searchicon{width: 40px;
display: flex;
justify-content: center;
align-items: center;
border: none;
font-size: 1.2rem;
background-color: orange;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
color: black;}
.country{display: flex;font-size: 15px;
font-weight: 700;}
.select{background-color:#0f1111;}

p{font-size: 0.7rem;}
span{font-size: 1rem;
font-weight: 800;}


.cart i{font-size: 30px;}
.cart{font-size: 10px;
    display: flex;
align-self: bottom right;}
.panel{background-color: #232f3e;
width: 100%;
display: flex;
height: 40px;}
.panelops{
    display:flex;
    justify-content: space-evenly;
    width: 40%;
    color: white;
    align-items: center;
}
a{color: white;}
.Deals{
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 60%;
    font-size: 20px;
    font-weight: 700;
}
.hero-section{
    background-image: url("hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heromsg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40px;
    background-color: white;
    font-size: 1rem;
    position: relative;
    bottom: 20px;}


#amazon{color: blue;}

.boxcontent{
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
}
.Box{width: 23%;
height: 200px;
font-size: 13px;
background-color: white;
padding: 20px 0px 15px;
margin-top: 5px;
margin-bottom: 25px;
}
.shopsection{display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
    overflow: hidden;
}
.boximg1{
    width:100%;
    height: 100%;
    flex:1;
    background-image: url("box1_image.jpg");
    background-size: cover;
}

.boximg2{
    height: 100%;
    width: 100%;
    background-image: url("box2_image.jpg");
}

.boximg3{
    height: 100%;
    width: 100%;
    background-image: url("box3_image.jpg");
}
.boximg4{
    height: 100%;
    width: 100%;
    background-image: url("box4_image.jpg");
}
.boximg5{
    height: 100%;
    width: 100%;
    background-image: url("box5_image.jpg");
}
.boximg6{
    height: 100%;
    width: 100%;
    background-image: url("box6_image.jpg");
}
.boximg7{
    height: 100%;
    width: 100%;
    background-image: url("box7_image.jpg");
}
.boximg8{
    height: 100%;
    width: 100%;
    background-image: url("box8_image.jpg");
}
.fpanel{
    height:50px;
    width: 100%;
    background-color:#37475A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
footer{margin-top: 15px;
}
.fpanel2{
    background-color: #232f3e;
    height: 300px;
    color: white;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;

}
.fpanel2{
    display: flex;
    justify-content: space-evenly;

}
.w{
    font-weight: 800;
}
.fpanel3{
    background-color:#232f3e;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
}

.fpanel4{
    background-color: #0f1111;
    color: white;
    height: 100px;
    
}
.logo2{background-image:url(amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}
.pages{
    padding-top: 25px;
    padding-bottom: 4px;
    font-size: 0.7rem;
    text-align: center;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
}